<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MCRA Medical Assessment Form</title>
    <style>
        body { 
            font-family: Arial, sans-serif; 
            padding: 20px; 
            line-height: 1.6;
            color: #333;
        }
        h2 { 
            color: #0BB7B3; 
            margin-bottom: 20px;
            border-bottom: 2px solid #0BB7B3;
            padding-bottom: 8px;
            margin-top: 80px;
        }
        .section-title {
            color: #2d3748;
            font-size: 1.2em;
            margin: 25px 0 15px 0;
            font-weight: bold;
            background: #f7fafc;
            padding: 8px;
            border-left: 4px solid #0BB7B3;
        }
        .form-data {
            max-width: 800px;
            margin: 0 auto;
            background: white;
        }
        .form-section {
            /* margin-bottom: 25px; */
            border-radius: 8px;
            background: #fff;
        }
        .question {
            margin: 8px 0;
            padding: 8px 0;
            box-shadow: 0 1px 3px rgba(0,0,0,0.1);
        }
        .question-text {
            margin-left: 20px;
            color: #2d3748;
            font-weight: 600;
            margin-bottom: 4px;
        }
        .answer {
            margin-left: 20px;
            color: #4a5568;
            min-height: 20px;
        }
        .empty-answer {
            color: #a0aec0;
            font-style: italic;
        }
        .section-title {
            page-break-before: auto;
        }
        .force-break {
            page-break-before: always;
        }
    </style>
</head>
<body>
    <div class="form-data">
        <div class="section-title">Personal Details</div>
        <div class="form-section">
            <div class="question">
                <div class="question-text">Full Name</div>
                <div class="answer">{{ Full_Name }}</div>
            </div>
        
        
            <div class="question">
                <div class="question-text">Date of Birth</div>
                <div class="answer">{{ Date_of_Birth }}</div>
            </div>
        
            <div class="question">
                <div class="question-text">Gender</div>
                <div class="answer">{{ Gender }}</div>
            </div>
        
            <div class="question">
                <div class="question-text">Height</div>
                <div class="answer">{{ Height }}</div>
            </div>
        
            <div class="question">
                <div class="question-text">Weight</div>
                <div class="answer">{{ Weight }}</div>
            </div>
        
            <div class="question">
                <div class="question-text">BMI</div>
                <div class="answer">{{ BMI }}</div>
            </div>
        
            <div class="question">
                <div class="question-text">Contact Number</div>
                <div class="answer">{{ Contact_Number }}</div>
            </div>
        
            <div class="question">
                <div class="question-text">Email</div>
                <div class="answer">{{ Email }}</div>
            </div>
        
            <div class="question">
                <div class="question-text">Address</div>
                <div class="answer">{{ Address }}</div>
            </div>
        
            <div class="question">
                <div class="question-text">City</div>
                <div class="answer">{{ City }}</div>
            </div>
        
            <div class="question">
                <div class="question-text">State</div>
                <div class="answer">{{ State }}</div>
            </div>
        
            <div class="question">
                <div class="question-text">Pincode</div>
                <div class="answer">{{ Pincode }}</div>
            </div>
        </div>
        
        
       

        <!-- section-2 -->

        <div class="section-title force-break">Cancer Risk Factors</div>
        <div class="form-section">        
            {% if cancer_risk_factors.do_you_currently_smoke_or_consume_tobacco_products != "" %}
                <div class="question">
                    <div class="question-text">Do you currently smoke or consume tobacco products?</div>
                    <div class="answer" data-field="do_you_currently_smoke_or_consume_tobacco_products">{{ cancer_risk_factors.do_you_currently_smoke_or_consume_tobacco_products }}</div>
                </div>
            {% endif %}
        
            {% if cancer_risk_factors.type_of_tobacco != "" %}
                <div class="question">
                    <div class="question-text">Type of tobacco?</div>
                    <div class="answer" data-field="type_of_tobacco">{{ cancer_risk_factors.type_of_tobacco }}</div>
                </div>
            {% endif %}
        
            {% if cancer_risk_factors.how_long_have_you_been_consuming_any_form_of_tobacco != "" %}
                <div class="question">
                    <div class="question-text">How long have you been consuming any form of tobacco?</div>
                    <div class="answer" data-field="how_long_have_you_been_consuming_any_form_of_tobacco">{{ cancer_risk_factors.how_long_have_you_been_consuming_any_form_of_tobacco }}</div>
                </div>
            {% endif %}
        
            {% if cancer_risk_factors.how_much_do_you_consume_cigarettes_bidi_cigars_e_cigarettes_pipes_hukkah_consumption != "" %}
                <div class="question">
                    <div class="question-text">How much do you consume cigarettes, bidi, cigars, e-cigarettes, pipes, hukkah?</div>
                    <div class="answer" data-field="how_much_do_you_consume_cigarettes_bidi_cigars_e_cigarettes_pipes_hukkah">{{ cancer_risk_factors.how_much_do_you_consume_cigarettes_bidi_cigars_e_cigarettes_pipes_hukkah_consumption }}</div>
                </div>
            {% endif %}
        
            {% if cancer_risk_factors.how_much_do_you_consume_paan_consumption_tobacco_paan_masala_gutka_consumption_chewing_tobacco != "" %}
                <div class="question">
                    <div class="question-text">How much do you consume paan, tobacco, paan masala, gutka, chewing tobacco?</div>
                    <div class="answer" data-field="how_much_do_you_consume_paan_tobacco_paan_masala_gutka_chewing_tobacco">{{ cancer_risk_factors.how_much_do_you_consume_paan_consumption_tobacco_paan_masala_gutka_consumption_chewing_tobacco }}</div>
                </div>
            {% endif %}
        
            {% if cancer_risk_factors.have_you_smoked_or_consume_tobacco_products_in_the_past != "" %}
                <div class="question">
                    <div class="question-text">Have you smoked or consumed tobacco products in the past?</div>
                    <div class="answer" data-field="have_you_smoked_or_consumed_tobacco_products_in_the_past">{{ cancer_risk_factors.have_you_smoked_or_consume_tobacco_products_in_the_past }}</div>
                </div>
            {% endif %}
        
            {% if cancer_risk_factors.past_type_of_tobacco != "" %}
                <div class="question">
                    <div class="question-text">Past type of tobacco?</div>
                    <div class="answer" data-field="past_type_of_tobacco">{{ cancer_risk_factors.past_type_of_tobacco }}</div>
                </div>
            {% endif %}
        
            {% if cancer_risk_factors.for_how_long_did_you_consume_any_form_of_tobacco_throughout_your_lifetime != "" %}
                <div class="question">
                    <div class="question-text">For how long did you consume any form of tobacco throughout your lifetime?</div>
                    <div class="answer" data-field="for_how_long_did_you_consume_any_form_of_tobacco_throughout_your_lifetime">{{ cancer_risk_factors.for_how_long_did_you_consume_any_form_of_tobacco_throughout_your_lifetime }}</div>
                </div>
            {% endif %}
        
            {% if cancer_risk_factors.for_how_long_have_you_quit_any_form_of_tobacco != "" %}
                <div class="question">
                    <div class="question-text">For how long have you quit any form of tobacco?</div>
                    <div class="answer" data-field="for_how_long_have_you_quit_any_form_of_tobacco">{{ cancer_risk_factors.for_how_long_have_you_quit_any_form_of_tobacco }}</div>
                </div>
            {% endif %}
        
            {% if cancer_risk_factors.past_how_much_do_you_consume_paan_consumption_tobacco_paan_masala_gutka_consumption_chewing_tobacco != "" %}
                <div class="question">
                    <div class="question-text">Past how much do you consume paan, tobacco, paan masala, gutka, chewing tobacco?</div>
                    <div class="answer" data-field="past_how_much_do_you_consume_paan_tobacco_paan_masala_gutka_chewing_tobacco">{{ cancer_risk_factors.past_how_much_do_you_consume_paan_consumption_tobacco_paan_masala_gutka_consumption_chewing_tobacco }}</div>
                </div>
            {% endif %}
        
            {% if cancer_risk_factors.past_how_much_do_you_consume_cigarettes_bidi_cigars_e_cigarettes_pipes_hukkah_consumption != "" %}
                <div class="question">
                    <div class="question-text">Past how much do you consume cigarettes, bidi, cigars, e-cigarettes, pipes, hukkah?</div>
                    <div class="answer" data-field="past_how_much_do_you_consume_cigarettes_bidi_cigars_e_cigarettes_pipes_hukkah">{{ cancer_risk_factors.past_how_much_do_you_consume_cigarettes_bidi_cigars_e_cigarettes_pipes_hukkah_consumption }}</div>
                </div>
            {% endif %}
        
            {% if cancer_risk_factors.do_you_drink_alcoholic_beverages != "" %}
                <div class="question">
                    <div class="question-text">Do you drink alcoholic beverages?</div>
                    <div class="answer" data-field="do_you_drink_alcoholic_beverages">{{ cancer_risk_factors.do_you_drink_alcoholic_beverages }}</div>
                </div>
            {% endif %}
        
            {% if cancer_risk_factors.type_of_alcohol != "" %}
                <div class="question">
                    <div class="question-text">Type of alcohol?</div>
                    <div class="answer" data-field="type_of_alcohol">{{ cancer_risk_factors.type_of_alcohol }}</div>
                </div>
            {% endif %}
        
            {% if cancer_risk_factors.for_how_long_did_you_consume_any_form_of_alcohol_throughout_your != "" %}
                <div class="question">
                    <div class="question-text">For how long did you consume any form of alcohol throughout your lifetime?</div>
                    <div class="answer" data-field="for_how_long_did_you_consume_any_form_of_alcohol_throughout_your_lifetime">{{ cancer_risk_factors.for_how_long_did_you_consume_any_form_of_alcohol_throughout_your }}</div>
                </div>
            {% endif %}
        
            {% if cancer_risk_factors.have_you_engaged_in_regular_physical_exercise_over_last_6_months != "" %}
                <div class="question">
                    <div class="question-text">Have you engaged in regular physical exercise over the last 6 months?</div>
                    <div class="answer" data-field="have_you_engaged_in_regular_physical_exercise_over_last_6_months">{{ cancer_risk_factors.have_you_engaged_in_regular_physical_exercise_over_last_6_months }}</div>
                </div>
            {% endif %}
        
            {% if cancer_risk_factors.type_of_physical_activity != "" %}
                <div class="question">
                    <div class="question-text">Type of physical activity?</div>
                    <div class="answer" data-field="type_of_physical_activity">{{ cancer_risk_factors.type_of_physical_activity }}</div>
                </div>
            {% endif %}
        
            {% if cancer_risk_factors.what_is_your_intensity_of_the_physical_activities_that_you_are_engaged_in != "" %}
                <div class="question">
                    <div class="question-text">What is your intensity of the physical activities that you are engaged in?</div>
                    <div class="answer" data-field="what_is_your_intensity_of_the_physical_activities_that_you_are_engaged_in">{{ cancer_risk_factors.what_is_your_intensity_of_the_physical_activities_that_you_are_engaged_in }}</div>
                </div>
            {% endif %}
        
            {% if cancer_risk_factors.how_often_do_you_engage_in_physical_exercise_each_week != "" %}
                <div class="question">
                    <div class="question-text">How often do you engage in physical exercise each week?</div>
                    <div class="answer" data-field="how_often_do_you_engage_in_physical_exercise_each_week">{{ cancer_risk_factors.how_often_do_you_engage_in_physical_exercise_each_week }}</div>
                </div>
            {% endif %}
        
            {% if cancer_risk_factors.how_often_do_you_consume_processed_or_red_meats_in_a_typical_week != "" %}
                <div class="question">
                    <div class="question-text">How often do you consume processed or red meats in a typical week?</div>
                    <div class="answer" data-field="how_often_do_you_consume_processed_or_red_meats_in_a_typical_week">{{ cancer_risk_factors.how_often_do_you_consume_processed_or_red_meats_in_a_typical_week }}</div>
                </div>
            {% endif %}
        </div>
        

      

        <!-- section-3 -->
        <div class="section-title">Toxic Exposure</div>
        <div class="form-section">
            {% if toxic_exposure.are_you_frequently_exposed_to_secondhand_smoke != "" %}
            <div class="question">
                <div class="question-text">Are you frequently exposed to secondhand smoke?</div>
                <div class="answer" data-field="are_you_frequently_exposed_to_secondhand_smoke">{{ toxic_exposure.are_you_frequently_exposed_to_secondhand_smoke}}</div>
            </div>
            {% endif %}
            
            {% if toxic_exposure.are_you_currently_or_in_the_past_exposed_to_environmental_toxins != "" %}
            <div class="question">
                <div class="question-text">Are you currently or in the past exposed to environmental toxins?</div>
                <div class="answer" data-field="are_you_currently_or_in_the_past_exposed_to_environmental_toxins">{{ toxic_exposure.are_you_currently_or_in_the_past_exposed_to_environmental_toxins}}</div>
            </div>
            {% endif %}

            {% if toxic_exposure.are_you_currently_or_in_the_past_have_been_exposed_to_occupational_toxins != "" %}
            <div class="question">
                <div class="question-text">Are you currently or in the past have been exposed to occupational toxins?</div>
                <div class="answer" data-field="are_you_currently_or_in_the_past_have_been_exposed_to_occupational_toxins">{{ toxic_exposure.are_you_currently_or_in_the_past_have_been_exposed_to_occupational_toxins}}</div>
            </div>
            {% endif %}
        </div>
       
        
        <!-- section-4 -->

        <div class="section-title">Inherited Cancer Risk Exposure</div>
        <div class="form-section">

            {% if inherited_cancer_risk_exposure.have_you_ever_been_a_cancer_patient != "" %}
            <div class="question">
                <div class="question-text">Have you ever been a cancer patient?</div>
                <div class="answer" data-field="have_you_ever_been_a_cancer_patient">{{ inherited_cancer_risk_exposure.have_you_ever_been_a_cancer_patient }}</div>
            </div>
            {% endif %}

            {% if inherited_cancer_risk_exposure.are_you_currently_on_active_treatment != "" %}
            <div class="question">
                <div class="question-text">Are you currently on active treatment?</div>
                <div class="answer" data-field="are_you_currently_on_active_treatment">{{ inherited_cancer_risk_exposure.are_you_currently_on_active_treatment }}</div>
            </div>
            {% endif %}

            {% if inherited_cancer_risk_exposure.are_you_in_remission_and_off_active_treatment_for_more_than_12_months != "" %}
            <div class="question">
                <div class="question-text">Are you in remission and off active treatment for more than 12 months?</div>
                <div class="answer" data-field="are_you_in_remission_and_off_active_treatment_for_more_than_12_months">{{ inherited_cancer_risk_exposure.are_you_in_remission_and_off_active_treatment_for_more_than_12_months }}</div>
            </div>
            {% endif %}

            {% if inherited_cancer_risk_exposure.at_what_age != "" %}
            <div class="question">
                <div class="question-text">At what age?</div>
                <div class="answer" data-field="at_what_age">{{ inherited_cancer_risk_exposure.at_what_age }}</div>
            </div>
            {% endif %}

            {% if inherited_cancer_risk_exposure.have_you_had_cancer_multiple_times_in_the_past != "" %}
            <div class="question">
                <div class="question-text">Have you had cancer multiple times in the past?</div>
                <div class="answer" data-field="have_you_had_cancer_multiple_times_in_the_past">{{ inherited_cancer_risk_exposure.have_you_had_cancer_multiple_times_in_the_past }}</div>
            </div>
            {% endif %}

            {% if inherited_cancer_risk_exposure.what_type_of_cancer_text != "" %}
            <div class="question">
                <div class="question-text">What type of cancer?</div>
                <div class="answer" data-field="what_type_of_cancer_text">{{ inherited_cancer_risk_exposure.what_type_of_cancer_text }}</div>
            </div>
            {% endif %}

            {% if inherited_cancer_risk_exposure.have_any_of_your_first_degree_relatives_been_diagnosed_with_cancer_syndromes != "" %}
            <div class="question">
                <div class="question-text">Have any first-degree relatives been diagnosed with cancer syndromes?</div>
                <div class="answer" data-field="have_any_of_your_first_degree_relatives_been_diagnosed_with_cancer_syndromes">{{ inherited_cancer_risk_exposure.have_any_of_your_first_degree_relatives_been_diagnosed_with_cancer_syndromes }}</div>
            </div>
            {% endif %}

            {% if inherited_cancer_risk_exposure.relatives_what_type_of_cancer != "" %}
            <div class="question">
                <div class="question-text">Relatives' Cancer Type</div>
                <div class="answer" data-field="relatives_what_type_of_cancer">{{ inherited_cancer_risk_exposure.relatives_what_type_of_cancer }}</div>
            </div>
            {% endif %}

            {% if inherited_cancer_risk_exposure.are_you_currently_suffering_from_specific_medical_conditions_that_increase_the_risk_of_cancer != "" %}
            <div class="question">
                <div class="question-text">Are you currently suffering from medical conditions that increase cancer risk?</div>
                <div class="answer" data-field="are_you_currently_suffering_from_specific_medical_conditions_that_increase_the_risk_of_cancer">{{ inherited_cancer_risk_exposure.are_you_currently_suffering_from_specific_medical_conditions_that_increase_the_risk_of_cancer }}</div>
            </div>
            {% endif %}

            {% if inherited_cancer_risk_exposure.have_you_undergone_genetic_susceptibility_testing_for_cancer != "" %}
            <div class="question">
                <div class="question-text">Have you undergone genetic susceptibility testing for cancer?</div>
                <div class="answer" data-field="have_you_undergone_genetic_susceptibility_testing_for_cancer">{{ inherited_cancer_risk_exposure.have_you_undergone_genetic_susceptibility_testing_for_cancer }}</div>
            </div>
            {% endif %}
        </div>

      

        <!-- section-5 -->
        <div class="section-title">Controllable Cancer Risk Exposure</div>
        <div class="form-section">
    
            <div class="question">
                <div class="question-text">Skin Changes</div>
                <div class="answer" data-field="skin_changes">{{ controllable_cancer_risk_exposure.skin_changes }}</div>
            </div>
    
            <div class="question">
                <div class="question-text">Skin Changes (Detailed)</div>
                <div class="answer" data-field="skin_changes_such_as_a_lump_that_bleeds_or_turns_scaly_a_new_mole_or_a_change_in_a_mole_a_sore_that_does_not_healor_a_yellowish_color_to_the_skin_or_eyes">{{ controllable_cancer_risk_exposure.skin_changes_such_as_a_lump_that_bleeds_or_turns_scaly_a_new_mole_or_a_change_in_a_mole_a_sore_that_does_not_healor_a_yellowish_color_to_the_skin_or_eyes }}</div>
            </div>
    
            <div class="question">
                <div class="question-text">Thickening or Lump in Breast or Body</div>
                <div class="answer" data-field="thickening_or_lump_in_the_breast_or_other_part_of_the_body">{{ controllable_cancer_risk_exposure.thickening_or_lump_in_the_breast_or_other_part_of_the_body }}</div>
            </div>
    
            <div class="question">
                <div class="question-text">Swelling or Lumps Anywhere in Body</div>
                <div class="answer" data-field="swelling_or_lumps_anywhere_in_the_body">{{ controllable_cancer_risk_exposure.swelling_or_lumps_anywhere_in_the_body }}</div>
            </div>
    
            <div class="question">
                <div class="question-text">Unusual Bleeding or Bruising</div>
                <div class="answer" data-field="unusual_bleeding_or_bruising_for_no_known_reason">{{ controllable_cancer_risk_exposure.unusual_bleeding_or_bruising_for_no_known_reason }}</div>
            </div>
    
            <div class="question">
                <div class="question-text">Cough or Hoarseness That Does Not Go Away</div>
                <div class="answer" data-field="cough_or_hoarseness_that_does_not_go_away">{{ controllable_cancer_risk_exposure.cough_or_hoarseness_that_does_not_go_away }}</div>
            </div>
    
            <div class="question">
                <div class="question-text">Eating Problems</div>
                <div class="answer" data-field="eating_problems">{{ controllable_cancer_risk_exposure.eating_problems }}</div>
            </div>
    
            <div class="question">
                <div class="question-text">Fatigue or Extreme Tiredness</div>
                <div class="answer" data-field="fatigue_or_extreme_tiredness_that_doesnt_get_better_with_rest">{{ controllable_cancer_risk_exposure.fatigue_or_extreme_tiredness_that_doesnt_get_better_with_rest }}</div>
            </div>
    
            <div class="question">
                <div class="question-text">Persistent Headaches</div>
                <div class="answer" data-field="persistent_headaches">{{ controllable_cancer_risk_exposure.persistent_headaches }}</div>
            </div>
    
            <div class="question">
                <div class="question-text">Ongoing Fever or Night Sweats</div>
                <div class="answer" data-field="ongoing_fever_or_night_sweats">{{ controllable_cancer_risk_exposure.ongoing_fever_or_night_sweats }}</div>
            </div>
    
            <div class="question">
                <div class="question-text">Vision or Hearing Problems</div>
                <div class="answer" data-field="vision_or_hearing_problems">{{ controllable_cancer_risk_exposure.vision_or_hearing_problems }}</div>
            </div>
    
            <div class="question">
                <div class="question-text">Weight Loss or Gain</div>
                <div class="answer" data-field="weight_loss_or_gain_of_10_pounds_or_more_for_no_known_reason">{{ controllable_cancer_risk_exposure.weight_loss_or_gain_of_10_pounds_or_more_for_no_known_reason }}</div>
            </div>
    
            <div class="question">
                <div class="question-text">Mouth Changes</div>
                <div class="answer" data-field="mouth_changes_such_as_sores_bleeding_pain_or_numbness">{{ controllable_cancer_risk_exposure.mouth_changes_such_as_sores_bleeding_pain_or_numbness }}</div>
            </div>
    
            <div class="question">
                <div class="question-text">Change in Bowel Habits</div>
                <div class="answer" data-field="change_in_bowel_habits_such_as_constipation_or_diarrhea_that_does_not_go_away_or_a_change_in_how_your_stools_look">{{ controllable_cancer_risk_exposure.change_in_bowel_habits_such_as_constipation_or_diarrhea_that_does_not_go_away_or_a_change_in_how_your_stools_look }}</div>
            </div>
    
            <div class="question">
                <div class="question-text">Any Others</div>
                <div class="answer" data-field="any_others">{{ controllable_cancer_risk_exposure.any_others }}</div>
            </div>
    
            <div class="question">
                <div class="question-text">Other Symptoms</div>
                <div class="answer" data-field="other_symptom">{{ controllable_cancer_risk_exposure.other_symptom }}</div>
            </div>
        </div>
    </div>

   
</body>
</html>










