<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
            font-size: 9pt;
        }
        .footer-container {
            width: 100%;
            /* padding: 10px 20px; */
            position: relative;
        }
        .address {
            margin-top: 10px;
            border-top: 2px solid black;
            padding-top: 10px;
        }
        .company-name {
            font-weight: bold;
        }
    </style>
</head>
<body>
    <div class="footer-container">
        <div class="address">
            <span class="company-name">Medidect<sup>TM</sup> India</span> - A Unit of Millennium Oncology India Private Limited<br>
            Address - Plot No.112, First Floor, Udyog Vihar, Phase - 1, Gurgaon, Haryana, India, 122016 | 
            Tel: 0124 421 0144 | Email: info@medidect.com
        </div>
    </div>
</body>
</html>