@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Lato:wght@400;600;700;900&family=Open+Sans:wght@400;600&family=Source+Sans+Pro:wght@400;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  display: flex;
  margin: 0;
  font-family: "Open Sans", "sans-serif", "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: var(--app-height);
}

#root {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.first-app-text {
  font-size: 4rem;
  font-weight: 700;
  background: -webkit-linear-gradient(left, #b084cc, #ff8276);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* Absolute Center Spinner */
.overlay-spinner {
  position: fixed;
  z-index: 1051;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 50px;
  height: 50px;
}

/* Transparent Overlay */
.overlay-spinner:before {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
}

/* :not(:required) hides these rules from IE9 and below */
.overlay-spinner:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.overlay-spinner:not(:required):after {
  content: "";
  display: block;
  font-size: 10px;
  width: 50px;
  height: 50px;
  margin-top: -0.5em;
  border: 5px solid #0101C8;
  border-radius: 100%;
  border-bottom-color: transparent;
  -webkit-animation: spinner 1s linear 0s infinite;
  animation: spinner 1s linear 0s infinite;
}

/* Animation */

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.complete-hidden-scroll-style::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: transparent;
}

.complete-hidden-scroll-style::-webkit-scrollbar {
  width: 0px;
  background-color: transparent;
}

.complete-hidden-scroll-style::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}

.DateInput_input__focused {
  border-bottom: 0px !important;
  /* z-index: 9999px !important; */
}

.DateInput_input {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  color: #283a46;
  font-weight: 400 !important;
  font-size: 14px !important;
  border: 1px solid #aca9a9 !important;
  padding: 14px 12px !important;
  border-radius: 6px !important;
  line-height: 1 !important;
  /* background-color: #9A9A9A !important; */
  /* z-index: 10 !important; */
}
.datepicker-container {
  position: relative;
  /* z-index: 10 !important;  */
}

.datepicker-input {
  position: fixed;
  /* z-index: 1333 !important;  */
}

.DateRangePickerInput_clearDates {
  right: auto !important;
}

.DateRangePickerInput_arrow {
  display: none !important;
}

.DateInput_input::placeholder {
  color: #9a9a9a;
  font-size: 14px;
  font-style: normal;
  font-family: "Open Sans", sans-serif;
  opacity: 1;
}

.DateInput_input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #9a9a9a;
  font-size: 14px;
  font-style: italic;
}

.DateInput_input::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #9a9a9a;
  font-size: 14px;
  font-style: italic;
}

.small-device-height-fix {
  max-height: 100vh;
  max-height: calc((var(--vh, 1vh) * 100) - 84px);
}

.small-device-height-fix2 {
  max-height: 100vh;
  max-height: calc((var(--vh, 1vh) * 100) - 49px);
}

@layer components {
  .header-underline {
    background-color: theme("colors.primary");
    border-radius: theme("borderRadius.sm");
    height: theme("spacing.1");
    width: theme("spacing.7");
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.example::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.example {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.DateRangePickerInput {
  border-radius: 6px;
}


.SingleDatePickerInput__withBorder {
  border-radius: 2px;
  border: none !important;
}

html, body {
  height: 100%;
}



.rdp-month{
  display: flex
;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 15px;
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}


::-webkit-scrollbar {
  display: none;
}



    .rdp-root{
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 20px;
    }

    input[type="time"]::-webkit-datetime-edit {
      color: black; /* Change text color */
    }
    
  
    
    /* toast */

    .custom-toast-container {
      display: flex;
      align-items: center;
      background: white;
      /* padding: 12px; */
      border-radius: 8px;
      /* box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); */
      width: 100%;

    }
    
    .custom-toast-content {
      display: flex;
      align-items: center;
      gap: 4px;
    }
    
    .toast-image {
      width: 50px;
      height: 50px;
    }
    
    .toast-text p {
      font-size: 15px;
      margin: 0;
    }
    
    .subtext {
      font-size: 12px;
      /* color: gray; */
    }
    
    .close-btn {
      background: none;
      border: none;
      cursor: pointer;
      font-size: 16px;
      margin-left: auto;
    }
    

    .Toastify__toast-theme--light {
      background: var(--toastify-color-light);
      color: var(--toastify-text-color-light);
      display: flex
  ;
      justify-content: center;
      /* padding: 0px 10px 0px 0px; */
  }

  .Toastify__toast-theme--light {

    padding: 0px;
  }

  .Toastify__toast-theme--light{
    padding: 0px !important;
    
  }


  .Toastify__progress-bar-theme--light {
    /* background: var(--toastify-color-progress-light); */
    background: white !important;
}

.Toastify__progress-bar {
  background-color: #B4E3D5 !important;
}


.Toastify__toast {
/* padding: 16px !important; */
}




/* Base styles for preventing zoom on input fields */
@media screen and (max-width: 400px) {
  .programhead{
    font-size: 16px !important;
  
  }
}


@media screen and (max-width: 380px) {
  .programhead{
    font-size: 14px !important;
  
  }
}



.rdrDay.rdrDaySelected, .rdrDay.rdrDayHovered {
  background-color: #3f51b5 !important;
  color: white !important;
}


.css-13cymwt-control {
 
  min-height: 52px !important;
  border-radius: 0.5rem !important;
}

.css-1u9des2-indicatorSeparator{
  display: none !important;
}


.css-t3ipsp-control {

border-color: #0101C8 !important;
box-shadow: 0 0 0 1px #0101C8 !important;
min-height: 52px !important;
}




.CalendarDay__selected, .CalendarDay__selected:active, .CalendarDay__selected:hover {
  background:  #0101C8 !important;
  border: 1px double  #0101C8 !important;
  color: #fff;
}